	background-color: blue;
.background {
    position: relative;
}
.harry {
	position: absolute;
	transform: translate(-50%,-50%) rotate(45deg);
	right: 100px;
	transform: rotate(-10deg);
	width: 500px;
	height: 200px;
	animation: harry 40s infinite;
	animation-duration: 30s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: harry;
}

@keyframes harry {
0% {right: 100px; */}
100% {right: 1500px;}
}

.snich {
	position: absolute;
	top: 450px;
	right: 300px;
	transform: rotate(-5deg);
	width: 100px;
	height: 100px;
	animation: snich 20s infinite;
	
}
@keyframes snich {
0% {right: 150px;}
100% {right: 1550px;}
}
